In [1]:
import pandas as pd
from pandas import json_normalize

In [2]:
sample_object = {'Name':'John', 'Location':{'City':'Los Angeles','State':'CA'}}

In [3]:
json_normalize(sample_object)

   Name Location.City Location.State
0  John   Los Angeles             CA

In [4]:
sample_object = {'Name':'John', 'Location':{'City':'Los Angeles','State':'CA'}, 'hobbies':['Music', 'Running', 'Programming']}

In [5]:
json_normalize(sample_object)

   Name                        hobbies Location.City Location.State
0  John  [Music, Running, Programming]   Los Angeles             CA

In [6]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [7]:
flat = flatten_json(sample_object)
json_normalize(flat)

   Name Location_City Location_State hobbies_0 hobbies_1    hobbies_2
0  John   Los Angeles             CA     Music   Running  Programming